.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(0, 5, 33);
}

#top-row {
  background-color: rgb(5, 54, 1);
  color: rgb(196, 206, 58);
  font-family: cursive, 'Times New Roman';
}

#button-start {
  margin-top: 10%;
  border-color: rgb(10, 165, 67);
}

#title-form {
  padding-top: 10%;
  width: 50%;
  justify-content: center;
}

#title-form2 {
  padding-top: 1%;
  width: 50%;
  justify-content: center;
}

#title-labels {
  display: flex;
  justify-content: center;
}

#title-font {
  font-size: large;
}

#paragraph-labels {
  display: flex;
  justify-content: center;
}

#paragraph-number-label {
  padding-left: 40%;
  padding-top: 2%;
}

#number-font {
  font-size: large;
}

#paragraph-group {
  padding-left: 15%;
}

#para-form-group {
  justify-self: center;
}

.text-field-area {
  width: 100%;
}

.first-color {
  border-color: #86e0f2a4;
  background-color: #86e0f2a4;
}

.link-button {
  align-items: end;
}

.gen-card {
  padding-top: 3%;
  width: 40%;
}

.gen-head-color {
  color: rgb(75, 169, 216);
}

.display-area {
  display: flex;
  width: 100%;
  justify-content: center;
}

.text-display {
  background-color: rgb(200, 231, 231);
  text-align: center;
  width: 65%;
}

.html-display {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.display-color {
  color: rgb(75, 169, 216);
}

.start-button {
  width: 10%;
}

.form-button {
  justify-content: center;
  background-color: #86e0f2a4;
}

.form-one-button {
  width: 20%;
}
